<div class="flex items-center p-3 rounded-md bg-surface border border-main">
  <% if recovery_code.used? %>
    <p class="font-mono text-lg tracking-wider text-subtle opacity-75">
      <del><%= recovery_code.code %></del>
    </p>
  <% else %>
    <p class="font-mono text-lg tracking-wider" data-recovery-codes-target="code">
      <%= recovery_code.code %>
    </p>
  <% end %>
</div>