<div id="<%= dom_id security_key %>" class="rounded-lg bg-surface border border-main">
  <div class="flex items-center justify-between p-4">
    
    <div class="flex flex-col gap-half">
      <%= link_to security_key.name, 
            edit_two_factor_authentication_profile_security_key_path(security_key), 
            class: "font-semibold text-primary hover:text-link focus:text-link" %>
            
      <p class="text-xs text-subtle">
        Last used: <%= security_key.last_used_at ? time_ago_in_words(security_key.last_used_at) + " ago" : "Never" %>
      </p>
    </div>
    
    <div>
      <%= button_to "Remove", 
            two_factor_authentication_profile_security_key_path(security_key), 
            method: :delete, 
            class: "btn btn--negative",
            form: { data: { turbo_confirm: "Are you sure you want to remove this security key?" } } %>
    </div>

  </div>
</div>