<div class="flex flex-col gap-half credits-card p-2 font-semibold bg-shade rounded-lg">
    <div class="flex justify-between items-center">
        <!--<p class="text-subtle text-xs">Credit quota</p>
        <%= button_tag "Upgrade", class: "btn bg-shade text-xs" %>-->
    </div>
    <div class="flex justify-between items-center">
        <p class="text-sm">Total</p>
        <p class="text-sm mie-1">100</p>
    </div>
    <div class="flex justify-between items-center">
        <p class="text-sm">Remaining</p>
        <p class="text-sm mie-1"><%= current_user.credits %></p>
    </div>
</div>