<div class="shrink-0 pbe-2">
  <input type="search" class="input i-full" placeholder="Search history...">
</div>

<div id="history-list" class="flex flex-col gap-4 grow overflow-y-auto pbs-2">
  <% @generated_audio_clips.each do |date, audio_clips_on_date| %>
    <%# Use the new partial here %>
    <%= render "layouts/shared/history_date_group", date: date, audio_clips: audio_clips_on_date.sort_by(&:created_at).reverse %>
  <% end %>
</div>