<% context ||= :desktop %>

<%# Use the passed-in collection or fall back to the instance variable. %>
<% generated_audio_clips ||= @generated_audio_clips %>

<div class="shrink-0 pbe-2">
  <input type="search" class="input i-full" placeholder="Search history...">
</div>
<div id="history_list_<%= context %>" class="flex flex-col gap-4 grow overflow-y-auto pbs-2">
  <% generated_audio_clips.each do |date, audio_clips_on_date| %>
    
    <%# This render call is correct as it passes the context down. %>
    <%= render partial: "layouts/shared/history_date_group", locals: { 
               date: date, 
               audio_clips: audio_clips_on_date.sort_by(&:created_at).reverse,
               context: context 
             } %>
  <% end %>
</div>