<%# --- START: The Fixed Header Section --- %>
<div class="shrink-0 pbe-2">
  <input type="search" class="input i-full" placeholder="Search history...">
</div>
<%# --- END: The Fixed Header Section --- %>

<%# --- START: The Scrollable List Section --- %>
<div id="history-list" class="flex flex-col gap-4 grow overflow-y-auto pbs-2">
  
  <%= render partial: "layouts/shared/history_item", collection: current_user.generated_audio_clips.includes(:voice).order(id: :desc), as: :audio %>
</div>
<%# --- END: The Scrollable List Section --- %>