<%#
  This is a reusable component for a trigger button that opens a bottom sheet.
  - trigger: A block that defines the button HTML.
  - content_partial: The path to the partial to render inside the sheet.
  - label: A string for the aria-label.
%>
<div contents data-controller="dialog">
  <%# The trigger button is passed in as a block %>
  <%= trigger %>

  <dialog 
      class="sheet sheet--bottom"
      data-dialog-target="content" 
      data-action="click->dialog#closeOnClickOutside" 
      aria-label="<%= label %>">
      
      <div class="sheet__content flex flex-col p-5">
        <%# Render the content partial that was passed in %>
        <%= render content_partial %>
      </div>
  </dialog>
</div>