<%#
  This is a reusable component for a trigger button that opens a bottom sheet.
  - trigger: A block that defines the button HTML.
  - content_partial: The path to the partial to render inside the sheet.
  - label: A string for the aria-label.
  - context: (Optional) A symbol (:desktop, :mobile) for generating unique IDs.
  - f: (Optional) The form builder object, to be passed down.
  - generated_audio_clips: (Optional) The collection of audio clips.
%>

<%# THIS IS THE CONTROLLER THAT LISTENS FOR THE ACTION %>
<div contents data-controller="dialog">
  <%= trigger %>

  <dialog
    class="sheet sheet--bottom flex flex-col pbe-4 overflow-hidden"
    data-dialog-target="content"
    data-action="click->dialog#closeOnClickOutside"
    aria-label="<%= label %>">

    <div class="relative shrink-0">
      <button type="button" class="btn btn--plain absolute text-subtle" style="top: 0.2rem; right: 1rem;" data-action="click->dialog#close">
        <span class="icon icon--x" aria-hidden="true"></span>
        <span class="sr-only">Close</span>
      </button>
    </div>

    <div class="sheet__content sheet_wrapper pis-3 pie-4 pbs-0 grow flex flex-col min-b-0">
      <%# Build a hash of locals to pass down to the content partial %>
      <% final_locals = { context: local_assigns.fetch(:context, :mobile) } %>
      
      <%# Conditionally add other locals if they were passed in %>
      <% final_locals[:f] = f if local_assigns.key?(:f) %>
      <% final_locals[:generated_audio_clips] = generated_audio_clips if local_assigns.key?(:generated_audio_clips) %>

      <%= render partial: content_partial, locals: final_locals %>
    </div>
  </dialog>
</div>