<%= turbo_frame_tag "modal" do %>
  <dialog class="dialog" data-controller="modal" data-action="click->modal#clickOutside">
    <button class="btn btn--plain dialog__close" data-action="modal#close">
      <span class="icon icon--x"></span>
    </button>
    <div class="dialog__content">
      <%= yield %>
    </div>
  </dialog>
<% end %>