<div class="grow flex flex-col min-b-0 sfx-background">
  <div class="sfx-content-wrapper p-4">
    <div class="i-full" style="max-width: var(--max-i-3xl);">
      <div class="tabs" data-controller="tabs">

        <%# Tab Triggers %>
        <div class="tabs__list justify-center">
          <button type="button" class="btn tabs__button" data-tabs-target="button" data-action="tabs#select" role="tab" aria-controls="sfx_generate_tab">Generate</button>
          <button type="button" class="btn tabs__button" data-tabs-target="button" data-action="tabs#select" role="tab" aria-controls="sfx_history_tab">History</button>
        </div>

        <%# Tab Panels container %>
        <div class="pbs-4">

          <%# --- GENERATE TAB PANEL --- %>
          <div id="sfx_generate_tab" data-tabs-target="tab" role="tabpanel">
            <div class="flex flex-col gap-4" data-controller="sound-effects-prompt-filler">
              <%= render "generated_audio_clips/partials/sound_effects/input_card" %>
              <%= render "generated_audio_clips/partials/sound_effects/examples_card" %>
            </div>
          </div>

          <%# --- HISTORY TAB PANEL --- %>
          <div hidden id="sfx_history_tab" data-tabs-target="tab" role="tabpanel">
            <%= render "generated_audio_clips/partials/sound_effects/history_card" %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>