<% title = @service_type.humanize.titleize %>
<% provide(:title, title) %>
<% content_for :page_header, title %>

<div>
    <div class="mi-auto text-center mbs-10" style="max-inline-size: 60rem;">
        <h1 class="text-5xl">Create Engaging Audio in 6 Authentic African Languages</h1>
        <p class="mbs-5 text-lg">Generate high-quality audio 'Yarns' perfect for podcasts, lessons, or social media voiceovers.</p>
    </div>

    <div class="mi-auto text-center mbs-10" style="max-inline-size: 60rem;" data-controller="sample-text form-submit voice-selector character-counter">
        
    </div>
</div>