<div class="sfx-card">
  <%= form_with model: @generated_audio_clip, id: "sound_effects_form", class: "flex flex-col gap-3" do |f| %>
    <%= f.hidden_field :service_type, value: "sound_effects" %>

    <div class="relative">
      <%= f.text_area :prompt,
          placeholder: "Describe your sound effect and then click generate...",
          rows: 4,
          class: "input border-0 p-0 i-full",
          style: "background: transparent; resize: none; outline: 0;",
          data: { sound_effects_prompt_filler_target: "output" } %>

      <p class="text-xs text-subtle" style="position: absolute; bottom: 0; right: 0;">0/500</p>
    </div>
    <div class="flex">
      <%= f.submit "Generate Sound Effect", class: "btn btn--secondary" %>
    </div>
  <% end %>
</div>