/* Hides element on screens LARGER than 48rem */
@media (width >= 48rem) {
  .hide\@md { 
    display: none; 
  }

  .popover--notifications {
    --popover-size: 27rem !important;
  }
}

/* Hides element on screens LARGER than 64rem */
@media (width >= 64rem) {
  .responsive-padding {
    padding: 5dvh 6.5dvh;
  }

  .fixed-right-col\@lg {
    min-block-size: 90dvh;
  }
}

/* Hides element on screens Less than 64rem */
@media (width <= 64rem) {
  .responsive-padding {
    padding: 4dvh 3dvh 0;
  }

  .tts-heading {
    font-size: var(--text-4xl) !important;
  }

  .tts-header {
    margin-top: 0 !important;
  }

  /* h1 {
    font-size: 2rem !important;
  }

  h2 {
    font-size: 1.5rem !important;
  }

  h3 {
    font-size: 1.2rem !important;
  }

  h4 {
    font-size: 1rem !important;
  }

  h5 {
    font-size: .8rem !important;
  }

  h6 {
    font-size: .5rem !important;
  } */
  
}

/* Hides element by default (mobile-first), then displays it on screens LARGER than 48rem */
.display-md {
  display: none;
}
@media (width >= 48rem) {
  .display-md {
    /* Use 'flex' because your buttons are flex containers */
    display: flex; 
  }
}
