<div>
  <header id="header" class="bg-black">
    <div class="flex justify-between container">
      <%= render "layouts/navigation/public/header_menu" %>
      <%= render "layouts/navigation/public/mobile_menu" %>
    </div>
  </header>
</div>