<div class="flex justify-center items-center py-4 mb-5">
   <div class="btn btn--icon btn--main" aria-label="Loading">
        <span class="icon icon--loading animate-spin" aria-hidden="true"></span>
    </div>
 </div>