<%= turbo_frame_tag "settings_content" do %>
  <div class="p-4">

    <%# --- MOBILE-ONLY BACK BUTTON --- %>
    <%= render "shared/settings_back_button" %>

    <div class="max-i-full" style="max-width: 48rem;">
      <h1 class="font-bold text-2xl mbe-4">Send invitation</h1>
      <p class="text-subtle mbe-4">Invite a new member to your account. They will receive an email with instructions to create their account and set a password.</p>

      <div id="new_invitation_form">
        <%= render 'form', user: @user %>
      </div>

    </div>
  </div>
<% end %>