<%= turbo_frame_tag "settings_content" do %>
  <div class="p-4">

    <%= render "shared/settings_back_button" %>

    <div class="max-i-full">
      <h1 class="font-bold text-2xl mbe-4">Change your password</h1>
      <p class="text-subtle mbe-4">For your security, please choose a strong, unique password that you don't use for any other online account.</p>

      <div id="edit_password_form">
        <%= render 'form', user: @user %>
      </div>
    </div>
  </div>

<% end %>