<% content_for :title, "Editing voice" %>
<% content_for :page_header, "Edit voice" %>

<%= render "layouts/shared/modal" do %>
  <div data-action="turbo:submit-end->modal#submitEnd">
    <h2 class="font-semibold text-lg mbe-4">Editing <%= @voice.name %></h2>
    <%= render "form", voice: @voice %>
  </div>
<% end %>
