<div id="generate_speech_info" class="show@lg">
  <div hidden data-sample-text-target="desktopInfo" class="i-full">
    <div class="flex items-center justify-between responsive-padding">
      <div><p class="text-subtle text-xs font-semibold"><%= current_user.credits %> credits remaining</p></div>
      <div class="flex items-center gap-2">
        <p class="text-subtle text-xs font-semibold">1,734 / 5,000 characters</p>
        <button type="button" class="btn btn--icon rounded-lg"><svg class="text-subtle" xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg></button>
        <div>
          <%= button_tag type: "submit", class: "btn btn--primary block i-full", form: "text_to_speech_form" do %>

            <span data-form-submit-target="label">Generate speech</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>