<div id="generate_speech_info" class="show@lg">
  <div hidden data-sample-text-target="desktopInfo" class="i-full">
    <div class="flex items-center justify-between responsive-padding">
      <div><p class="text-subtle text-xs font-semibold"><%= current_user.credits %> credits remaining</p></div>
      <div class="flex items-center gap-2">

        <p class="text-subtle text-xs font-semibold">
          <span data-character-counter-target="count">0</span> / 5,000 characters
        </p>

        <button type="reset" class="btn btn--main block"> Reset form </button>

        <div>
          <%= button_tag type: "submit", class: "btn btn--primary block i-full", form: "text_to_speech_form" do %>
            <span data-form-submit-target="label">Generate speech</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>