<div id="sample_texts" class="responsive-padding hidden" data-sample-text-target="samples">
  <h4 class="text-sm text-subtle mbe-2">Ẹ bẹ̀rẹ̀ pẹ̀lú / Dzì ɖe egɔme / Fúndá ná / Fiase mfi / Faase mfi</h4>
  <div class="flex flex-wrap gap-1">

    <% sample_text_list = [
        { label: "Ìpolówó (Yoruba)", icon: "megaphone", text: "Ṣé íntánẹ́ẹ̀tì tó lọ́ra ti sú ọ? Ẹ yí padà sí Fáíbálinkì lónìí fún íntánẹ́ẹ̀tì tó yára bíi mànàmáná àti wíwo fídíò láìsí ìdíwọ́. Ẹ bẹ ìkànnì wa wò fún àlàyé kíkún!" },
        
        { label: "Ŋlɔmi (Ewe)", icon: "message-square-text", text: "“Àmɛ ka woŋlɔ agbalẽ gbɔŋlɔa?” Kofíe bia. “Èyí míewɔna le agbalẽ me gbɔŋlɔŋlɔnya me.”" },

        { label: "Likápo (Lingala)", icon: "newspaper", text: "Bokóli malámu. Masolo ya mikóló ya lelo: Bakonzi ya mokili mobimba bayókaná na ntángo ya mbóngwana ya malili, mpe basílísí kobóngola ndéngé nini bakokí kokitisa bozálisí ya gaz ya carbon na mikolo nsambo ya mikolo míngi." },
        { label: "Adwísinim (Asante-Twi)", icon: "book-open", text: "Da koro, Adwoa rekɔ gua so no, ɔhwɛɛ sika kotoku bi a ɛda fam. Ɔhwɛɛ ne ho, nanso wammíhu obiara, enti ɔfaa no." },

        { label: "Nkaghyira (Akuapem-Twi)", icon: "voicemail", text: "Woato Yaa Asantewaa nneɛma a ɛbɛma woanya anigye. Mennim sɛ metumi aboa wo, nanso mesrɛ wo, fa wo din, wo nɔma, ne nsɛm tiawa. Mɛfrɛ wo bio mpofirim." },

        { label: "Fimfim (Hausa)", icon: "podcast", text: "Barka da zuwa shirin 'Zamanin Fasaha', podcast mai bincike kan sabbin abubuwa a fasahar zamani. A shirinmu na yau, za mu tattauna kan makomar hankali na wucin gadi." }
      ] 
    %>

    <% sample_text_list.each do |sample| %>
      <%= button_tag type: "button", class: "btn shrink-0 flex items-center gap-2 text-xs", data: { action: "mouseover->sample-text#showPlaceholder mouseleave->sample-text#hidePlaceholder click->sample-text#insert", sample_text_text_param: sample[:text] } do %>
        <span class="icon icon--<%= sample[:icon] %> text-subtle" style="--icon-size: 0.9rem" aria-hidden="true"></span>
        <span class="font-medium"><%= sample[:label] %></span>
      <% end %>
    <% end %>
    
  </div>
</div>