<%= render @feedback %>

<div class="flex flex-wrap items-center gap mbs-6" style="--row-gap: .5rem">
  <%= link_to "Edit this feedback", edit_feedback_path(@feedback), class: "btn" %>
  <%= link_to "Back to feedbacks", feedbacks_path, class: "btn" %>
  <%= button_to "Destroy this feedback", @feedback, method: :delete, class: "btn" %>
</div>
