<% content_for :title, "Dashboard" %>
<% content_for :page_header, "Dashboard" %>

<div class="i-full p-4 mi-auto" style="max-width: 90rem;">
    <h1 class="text-5xl">Dashboard feature coming soon...</h1>
</div>