<div class="">
  <header id="header" class="bg-black">
    <div class="flex justify-between container">
      <%= render "layouts/navigation/non_signed_in/mobile_menu" %>
      <%= render "layouts/navigation/non_signed_in/header_menu" %>
    </div>
  </header>
</div>