<div class="show@lg">
    <div class="flex items-center justify-between gap-2 shrink-0 pt-4 i-full">
        <div class="flex items-center gap-2">
            <button type="button" class="btn btn--icon rounded-lg">
                <span class="icon icon--download" aria-hidden="true"></span>
            </button>
            <%= button_tag "Convert Voice", class: "btn btn--primary" %>
        </div>

        <div class="flex items-center gap-2">
            <p class="text-subtle text-xs font-semibold">10,000 credits remaining</p>
            <p class="text-subtle text-xs font-semibold">1,734 / 5,000 characters</p>
        </div>
    </div>
</div>